<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dots.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>568BEEF31BD353B900F3EAF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568BEF071BD353B900F3EAF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>568BEF121BD353BA00F3EAF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
